@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');


@import "tailwindcss";

@theme inline{

    --color-primary: #3ecf8e;
    --color-secondary: #3ecf8e33;
    --color-background: #f5f5f5;
    --color-black: #171717;

    --font-quintessential: "Quintessential", serif;
    --font-oswald: "Oswald", sans-serif;
}

@layer base{

    body{
        @apply bg-background 
    }
}

@layer components{

    .icon{
        @apply size-6 
    }
}